/*typography*/

@font-face {
    font-family: 'whitney-book';
    src: url('/fonts/WhitneyBook.eot');
    src: url('/fonts/WhitneyBook.eot?#iefix') format('embedded-opentype'),
    url('/fonts/WhitneyBook.woff') format('woff'),
    url('/fonts/WhitneyBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'whitney-medium';
    src: url('/fonts/WhitneyMedium.eot');
    src: url('/fonts/WhitneyMedium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/WhitneyMedium.woff') format('woff'),
    url('/fonts/WhitneyMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'whitney-semibold';
    src: url('/fonts/WhitneySemiBold.eot');
    src: url('/fonts/WhitneySemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/WhitneySemiBold.woff') format('woff'),
    url('/fonts/WhitneySemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'whitney-bold';
    src: url('/fonts/whitney-bold-webfont.eot');
    src: url('/fonts/whitney-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/whitney-bold-webfont.woff') format('woff'),
    url('/fonts/whitney-bold-webfont.ttf') format('truetype'),
    url('/fonts/whitney-bold-webfont.svg#whitney-book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'whitney-black';
    src: url('/fonts/Whitney-Black.eot');
    src: url('/fonts/Whitney-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Whitney-Black.woff') format('woff'),
    url('/fonts/Whitney-Black.ttf') format('truetype'),
    url('/fonts/Whitney-Black.svg#whitney-book') format('svg');
    font-weight: normal;
    font-style: normal;
}

.book {
    font-family: 'whitney-book';
}

.medium {
    font-family: 'whitney-medium';
}

.semibold {
    font-family: 'whitney-semibold';
}

.bold {
    font-family: 'whitney-bold';
}

@font-face {
    font-family: "cryptocoins";
    src: url('/fonts/cryptocoins.woff2') format('woff2'),
    url('/fonts/cryptocoins.woff') format('woff'),
    url('/fonts/cryptocoins.ttf') format('truetype');
}

.cc::before {
    font-family: "cryptocoins";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
    text-decoration: none;
    text-transform: none;
}

.cc.ETH-alt::before {
    content: "\E046";
}

.cc.ETH::before {
    content: "\E047";
}

/* froala */

.cpointer {
    cursor: pointer;
}

.btn {
    padding: 9px 26px;
    background-color: #71b051;
    color: #FFF;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    border: solid 2px #71b051;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    cursor: pointer;
}

a.btn {
    color: #fff;
}

a.btn:not([href]):not([tabindex]) {
    color: #fff;
}

.btn.btn-empty {
    background-color: transparent;
    color: #71b051;
}

.btn:hover {
    color: #FFF;
    background-color: #6eab4f;
    border-color: #6eab4f;
}

.btn.btn-black {
    color: #FFFFFF;
    background-color: #000000;
    border-color: #000000;
}

.btn.btn-black.btn-empty {
    background-color: transparent;
    color: #000000;
}

.btn.btn-black:hover {
    color: #FFF;
    background-color: #0d0d0d;
    border-color: #0d0d0d;
}

.btn.btn-white {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn.btn-white.btn-empty {
    background-color: transparent;
    color: #FFFFFF;
}

.btn.btn-white:hover {
    color: #000000;
    background-color: #DEDEDE;
    border-color: #DEDEDE;
}

.btn.btn-shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn.btn-round {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    min-width: 150px;
}

.team-1.fdb-block img {
    border-bottom: solid 5px #71b051;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.team-1.fdb-block .fdb-box {
    padding: 0;
}

.team-1.fdb-block .fdb-box .content {
    padding: 20px;
}

.team-2.fdb-block img {
    border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
}

.team-3.fdb-block img {
    border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.fdb-block {
    font-family: 'whitney-book', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    padding: 100px 0;
    color: #444444;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: visible;
    background-color: #FFFFFF;
}

.fdb-block.fdb-viewport {
    min-height: calc(100% - 2 * 100px);
}

.fdb-block.fdb-viewport .container {
    min-height: calc(100% - 2 * 100px);
}

.fdb-block.fdb-image-bg {
    color: #f2f2f2;
}

.fdb-block .fdb-box {
    background: #FFFFFF;
    color: #444444;
    padding: 60px 40px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

.fdb-block .fdb-touch {
    border-top: solid 5px #71b051;
}

.fdb-block h1, .fdb-block .text-h1 {
    font-size: 2.9rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400;
}

.fdb-block h2, .fdb-block .text-h2 {
    font-size: 2.4rem;
    margin-bottom: .5em;
    margin-top: .3em;
    font-weight: 400;
}

.fdb-block h3, .fdb-block .text-h3 {
    font-size: 1.35rem;
    margin-bottom: .5em;
    margin-top: .2em;
    font-weight: 400;
}

.fdb-block h4, .fdb-block .text-h4 {
    font-size: 1.1rem;
    margin-bottom: .5em;
    margin-top: .2em;
    font-weight: 400;
}

.fdb-block h5, .fdb-block .text-h5 {
    font-size: 1rem;
    margin-bottom: .5em;
    margin-top: .1em;
    font-weight: 400;
}

.fdb-block h6, .fdb-block .text-h6 {
    font-size: 0.75rem;
    margin-bottom: .5em;
    margin-top: 0;
    font-weight: 400;
}

.fdb-block .font-weight-light {
    font-weight: 300;
}

.fdb-block img {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.fdb-block img + p, .fdb-block img + h3, .fdb-block img + h4 {
    margin-top: 20px;
}

.fdb-block img + h1, .fdb-block img + h2 {
    margin-top: 40px;
}

.fdb-block .col-fill-left {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.fdb-block .col-fill-left + div {
    position: relative;
    z-index: 2;
}

.fdb-block .col-fill-right {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.fdb-block .col-fill-right + div {
    position: relative;
    z-index: 2;
}

.fdb-block img.fdb-icon {
    width: auto;
    width: 60px;
}

.fdb-block img.fdb-icon-round {
    width: auto;
    width: 60px;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
}

.fdb-block .row-100 {
    height: 100px;
    width: 100%;
}

.fdb-block .row-50 {
    height: 50px;
    width: 100%;
}

.fdb-block .row-70 {
    height: 70px;
    width: 100%;
}

.fdb-normal {
    padding: 80px 0;
}

.fdb-small {
    padding: 40px 0;
}

.fdb-micro {
    padding: 0;
}

footer {
    padding: 30px 0 !important;
}

footer.footer-large {
    padding: 100px 0 !important;
}

footer .flex-column .nav-link {
    padding-left: 0;
}

footer.bg-dark {
    background: #2d313c;
    color: #f2f2f2;
}

footer.bg-dark a {
    color: #f2f2f2;
}

footer a {
    color: #444444;
}

header {
    background-color: #FFFFFF;
}

header .navbar-nav a.nav-link {
    color: #fffefe;
}

header .navbar-nav a.nav-link:hover {
    color: #ffffff;
    text-decoration: none;
}

header .navbar-nav a.nav-link:hover span, header .navbar-nav .active a.nav-link span {
    border-bottom: 1px solid #fff;
    padding-bottom: 0.1rem;
}

header .navbar-nav .active a.nav-link {
    color: #ffffff;
    font-weight: bold;
}

header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#444' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

header.bg-dark .navbar-nav a.nav-link {
    color: #dcdcdc;
}

header.bg-dark .navbar-nav a.nav-link:hover {
    color: #71b051;
}

header.bg-dark .navbar-nav .active a.nav-link {
    color: #FFFFFF;
}

header.bg-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

header + header {
    border-top: solid 1px #EEE;
}

.bg-dark {
    background-color: #2d313c;
    color: #f2f2f2;
}

.bg-gray {
    background-color: #fafafa;
    color: #444444;
}

.br {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: hidden;
}

.br-0 {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.heart {
    color: #df584e;
    font-weight: bold;
}

*.text-light {
    font-weight: 300 !important;
}

.sl-1 {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 2;
}

table tr.no-border th, table tr.no-border td {
    border-top: 0;
}

.of {
    overflow: visible;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 18px 16px;
    font-size: 28px;
    line-height: 1;
    border-radius: 35px;
}

.bg-green .btn {
    background-color: #43752a;
    border-color: #43752a;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav {
    margin-top: 10px
}

.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #4DC7A0;
    color: #FFF;
    text-decoration: none
}

.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #4DC7A0
}

/*MAIN*/

html {
    min-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    min-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'whitney-book', Tahoma, sans-serif;
    overflow-x: hidden;
}

@media (min-width: 576px) {
    html {
        font-size: 16px !important;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 13px !important;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 13px !important;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 14px !important;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 98%;
        max-width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        padding: 0;
    }
}

@media (max-width: 575px) {
    .container {
        width: 96%;
        max-width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        padding: 0;
    }
}

img {
    max-width: 100%;
}

a, a:active {
    outline: 0;
}

.uc {
    text-transform: uppercase;
}

.wrap {
    padding: .5rem 1rem;
}

h1, h2, h3, h4 {
    font-family: 'whitney-semibold', sans-serif;
}

.bg-brown {
    background-color: #633a26;
}

.bg-green {
    background-color: #71b051;
}

.bg-lgrey {
    background-color: #f8f8f8;
}

.green {
    color: #3c7c1c
}

.brown {
    color: #864221;
}

.no-padding {
    padding: 0 !important;
}

.form-control:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

::-webkit-input-placeholder {
    color: #71b051 !important;
}

::-moz-placeholder {
    color: #71b051;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #71b051;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #71b051;
}

.btn-long {
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 0 3rem;
}

.btn-group-xl > .btn, .btn-xl {
    padding: 1rem 5rem;
    font-size: 1.4rem;
    line-height: 1.8;
    border-radius: .1rem;
    margin: 0 4rem;
    font-family: 'whitney-semibold';
}

@media (max-width: 992px) {
    .btn-group-xl > .btn, .btn-xl {
        padding: 1rem 3rem;
        font-size: 1.2rem;
        margin: 0 1rem;
    }
}

.yo-shadow, .btn.yo-shadow:focus {
    -webkit-box-shadow: 5px 7px 36px -4px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 5px 7px 36px -4px rgba(0, 0, 0, 0.43);
    box-shadow: 5px 7px 36px -4px rgba(0, 0, 0, 0.43);
}

.yo-shadow-contour {
    -webkit-filter: drop-shadow(5px 6px 56px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(5px 6px 56px rgba(0, 0, 0, 0.3));
}

.owl-carousel .owl-video-tn {
    position: relative;
    height: 100%;
    background-size: cover;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.maxh {
    max-height: 100vh;
}

.owl-prev, .owl-next {
    font-size: 3.4em;
    padding: 7px 10px 9px 10px;
    font-family: monospace;
    font-weight: 100;
    border-radius: 0.3rem;
    transform: scale(1, 1.5);
}

.owl-prev span, .owl-next span {
    opacity: 0.6;
}

.yo-yoblock > div {
    padding-bottom: 0.8em;
}

.navbar-toggler {
    z-index: 666;
}

/*---------------*/

#mainheader {
    padding-top: 1rem;
    position: relative;
    background: url("/imgs/main_bg.png") repeat scroll top left #b7956c;
    color: #ffffff;
}

#mainheader h1, #mainheader h2, #mainheader h3, #mainheader h4 {
    font-family: 'whitney-black', sans-serif;
}

#mainheader .fdb-block {
    background-color: transparent;
    color: #ffffff;
}

#mainheader .navbar .nav-item {
    z-index: 333;
    width: auto;
}

@media (max-width: 1630px) {
    #mainheader .navbar {
        width: 92%;
    }
}

@media (max-width: 1560px) {
    #mainheader .navbar {
        width: 90%;
    }
}

@media (max-width: 1540px) {
    #mainheader .navbar {
        width: 85%;
    }
}

@media (max-width: 1480px) {
    #mainheader .navbar {
        width: 82%;
    }
}

@media (max-width: 1460px) {
    #mainheader .navbar {
        width: 75%;
    }
}

@media (max-width: 1360px) {
    #mainheader .navbar {
        width: 68%;
    }
}

@media (max-width: 1280px) {
    #mainheader .navbar {
        width: 65%;
    }
}

@media (max-width: 1200px) {
    #mainheader .navbar {
        width: auto;
    }

}

#mainheader .navbar-nav {
    width: 100%;
    z-index: 333;
}

#mainheader .nav-link {
    font-size: 1.3rem;
    padding: .5rem 1rem 0 1rem;
}

#mainheader .flaglong-item {
    padding-right: 0.8rem;
}

#mainheader .flag-item .nav-link {
    padding: 0 0.3rem;
}

#mainheader .nav-item:first-child .nav-link {
    padding-left: 0;
}

#mainheader .flag-item a:hover {
    text-decoration: none;
    outline: 0;
}

#mainheader .flag-item a img, #mainheader .flaglong-item a img, .dd .ddTitle .ddTitleText img {
    width: 1.6rem;
    padding-right: 0;
}

@media (max-width: 1600px) {
    #mainheader .flag-item a img, .dd .ddTitle .ddTitleText img {
        width: 1.4rem;
    }

    #mainheader .nav-link {
        padding: .5rem 0.8rem 0 0.8rem;
    }

}

@media (max-width: 1200px) {
    #mainheader .nav-link {
        padding: .5rem 0.7rem 0 0.7rem;
    }
}

@media (max-width: 767px) {
    #mainheader .navbar-nav {
        padding-top: 3em;
    }

}

@media (max-width: 575px) {
    #mainheader .flag-item {
        float: left;
        display: inline-block;
    }

    #mainheader .navbar-nav {
        padding-top: 0em;
    }

}

#clockdiv {
    position: absolute;
    top: 0.4em;
    right: 1em;
    font-family: 'whitney-black', sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 1.4rem;
    max-width: 100%;
    background-color: #71b051;
    padding: 0.4rem 0.8rem 1rem 0.8rem;
}

@media (max-width: 767px) {
    #clockdiv {

        right: 3em;
    }
}

#clockdiv > div.ttl {

    padding-bottom: 0.1em;
    font-size: 1.2rem;
}

#clockdiv > div.cnt {
    padding: 0.1rem;
    border-radius: 3px;
    display: inline-block;
    background: #ffffff;
}

#clockdiv div > span {
    padding: 5px 0 5px 0;
    border-radius: 3px;
    display: inline-block;
    color: #71b051;
    min-width: 2.6em;
}

#clockdiv .smalltext {
    color: #976e52;
    font-family: whitney-book;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 576px) {
    #clockdiv {
        display: none;
    }
}

.scalewrp {
    position: relative;
    overflow: visible;
    min-height: 220px;
    z-index: 80;
}

@media (max-width: 992px) {
    .scalewrp {
        min-height: 200px;
    }
}

@media (max-width: 768px) {
    .scalewrp {
        min-height: 120px;
    }
}

@media (max-width: 576px) {
    .scalewrp {
        min-height: 60px;
    }
}

.scalecont {
    position: relative;
    overflow: visible;

}

.scale-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.scale {
    position: absolute;
    top: -270px;
    z-index: 100;
    left: auto;
    right: auto;
    color: #864221;
    font-size: 0.9rem;
    font-family: 'whitney-semibold', sans-serif;
}

.sc-top {
    position: relative;
    margin-top: 3.6rem;
    text-align: center;
}

.sc-middle {
    padding: 1.2rem 3rem 0.1rem 3rem;
}

.scale .progress {
    display: flex;
    height: 2.4rem;
    font-size: 0.75rem;
    background-color: rgb(40, 167, 69);

    -webkit-box-shadow: inset 0px -1px 34px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px -1px 34px -3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px -1px 34px -3px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 1rem;
}

.scale .progress-bar {
    margin: 6px;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
}

.sc-middle .pointers {
    color: rgb(40, 167, 69);
    font-weight: bold;
    line-height: 0.6em;
}

.sc-middle .pointers div {
    padding: 0 1rem;
}

.scale strong {
    font-family: 'whitney-black', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.sc-bottom {
    vertical-align: center;
    padding: 0.4rem 3rem 0.1rem 3rem;
    color: #246305;
}

.sc-bottom strong {
    color: #864221;
}

.sc-bottom .total {
    font-family: 'whitney-black', sans-serif;
    font-size: 1.6rem;
}

@media (max-width: 1600px) {
    .scale {
        font-size: 0.8rem;
    }

    .scale .progress {
        height: 2.2rem;
    }
}

@media (max-width: 991px) {
    .scale {
        top: -210px;
        font-size: 0.8rem;
    }

    .sc-middle {
        padding: .2rem 2rem 0.1rem 2rem;
    }

    .scale h4 {
        font-size: 0.9rem;
    }

    .scale strong {
        font-size: 0.8rem;
    }

    .sc-bottom {
        padding: 0.4rem 2rem 0.1rem 2rem;
    }

    .sc-bottom .total {
        font-size: 1.2rem;
    }

    .scale .progress {
        height: 2rem;
    }

}

@media (max-width: 767px) {
    .scale {
        top: -210px;
        font-size: 0.6rem;
    }

    .sc-top {
        margin-top: 2rem;
    }

    .sc-bottom .total {
        font-size: 1rem;
    }

    .scale h4 {
        font-size: 0.8rem;
    }
}

@media (max-width: 575px) {
    .scale {
        top: -180px;
    }

    .sc-top, .pointers {
        display: none;
    }

    .sc-middle {
        margin-top: 2.6em;
    }

    .sc-bottom {
        display: none;
    }

    .scale .progress {
        margin-top: 0.4rem;
    }

    .pval {
        color: #71b051;
        white-space: nowrap;
    }

    .scale h4 {
        font-size: 0.6rem;
    }

}

@media (max-width: 500px) {
    .scale {
        top: -170px;
        font-size: 0.6rem;
    }

    .sc-middle {
        margin-top: 1.5em;
    }


    .sc-bottom {
        display: none;
    }

    .scale .progress {
        margin-top: .2rem;
    }
}

@media (max-width: 300px) {
    .sc-middle {
        display: none;
    }

    .scale .progress {
        margin-top: 2rem;
    }
}

.cubuwrp {
    position: relative;
}

.cubuwrp > div:first-child {
    z-index: 20;
}

.cube {
    width: 100%;
    position: absolute;
    top: -20%;
    left: 30%;
    bottom: auto;
}

@media (max-width: 1440px) {
    .cube {
        left: 29%;
    }
}

@media (max-width: 1040px) {
    .cube {
        left: 28.5%;
    }
}

@media (max-width: 1010px) {
    .cube {
        left: 27%;
    }

    #emptiness {
        padding: 60px 0;
    }
}

@media (max-width: 767px) {

    #emptiness {
        padding: 30px 0;
    }

    .scalewrp {
        padding-bottom: 0;
    }

    #yoyo {
        padding-bottom: 20px;
    }
}

@media (max-width: 440px) {
    .cube {
        width: 100%;
        position: absolute;
        top: -6%;
        left: 10%;
        bottom: auto;
        opacity: 0.6;
    }
}

#wp .btn + .btn {
    margin-top: 20px;
}

#wp .btn {
    margin-top: 20px;
}

#inv p {
    font-size: 0.8em;
}

#rating .rate-img {
    min-height: 153px;
}

.big-q {
    padding-top: 1.2rem;
    text-align: center;
    color: #71b051;
    font-family: 'whitney-semibold', sans-serif;
    font-size: 4.2rem;
}

@media (max-width: 575px) {
    .big-q {
        display: none;
    }
}

.big-c {
    text-align: right;
    color: #c9914f;
    font-family: 'whitney-black', sans-serif;
    font-size: 2.4rem;
}

.soc-links a, .soc-links a:hover {
    color: #d7d7d7;
}

#team .content h3, #team .content p {
    color: #864221;
}

.team-descr {
    display: none;
}

.fdb-box:hover .team-descr {
    display: block;
}

.team-role {
    font-size: 0.8em;
    min-height: 4.4em;
}

@media (max-width: 576px) {
    .team-descr {
        display: block;
        text-align: left;
    }

    .soc-links {
        text-align: left;
    }

    .team-role {
        min-height: 2em;
    }
}

.team-descr p {
    color: #666666 !important;
    font-size: 0.9em !important;
}

#team .fdb-box {
    z-index: 100;
}

.team-1.fdb-block .fdb-box .content {
    padding: 0;
}

.team-1.fdb-block .fdb-box {
    padding: 20px;
    background: #FFFFFF;
    color: #444444;

    border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

@media (min-width: 576px) {
    .team-1.fdb-block .fdb-box:hover {
        position: absolute;
        top: 0;
        bottom: auto;
        left: 0;
        right: 0;

        -webkit-box-shadow: 5px 7px 36px -4px rgba(0, 0, 0, 0.43);
        -moz-box-shadow: 5px 7px 36px -4px rgba(0, 0, 0, 0.43);
        box-shadow: 5px 7px 36px -4px rgba(0, 0, 0, 0.43);
        z-index: 100;
    }
}

.team-1 .team-card {
    position: relative;
}

.team-1 .team-card:hover {
    overflow: visible;
}

footer.fdb-block {
    color: #a3835d;
    font-size: 0.8rem;
}

footer.fdb-block a {
    color: #a3835d;
    text-decoration: none;
}

footer.fdb-block .footersoc:hover a {
    color: #71b051;
}

footer.fdb-block a:hover {
    color: #71b051;
    text-decoration: none;
}

footer.fdb-block .ico {
    font-size: 1.6rem;
}

.footersoc {
    text-align: center;
}

#youtubebig {

}

.dd {
    border: 0;
    width: auto !important;
    outline: none;
}

.dd .ddTitle {
    color: #fff;
    background: none;
}

.dd .divider {
    display: none;
}

.dd .ddChild li.selected {
    background-color: transparent;
    color: #fff;
}

.dd .ddChild {
    border: none;
    background-color: transparent;
}

.ddcommon .shadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ddchild_.border, .enabled._msddli_ {
    border: 0 !important;
    outline: none !important;
    background-color: transparent !important;
}

.dd .ddChild li {
    padding: 5px 0;
    background-color: transparent;
    border-bottom: 0;
}

.dd ._msddli_ {
    cursor: pointer;
}

.dd .ddChild li img {
    padding: 0;
}

.dd .ddTitle .ddTitleText {
    padding: 0 !important;
}

@media (min-width: 768px) {
    #logowrp img {
        margin-left: .25rem !important;
    }
}

@media (min-width: 1200px) {
    #logowrp img {
        margin-left: 1rem !important;
    }

}

@media (min-width: 1400px) {
    #logowrp img {
        margin-left: 2rem !important;
    }
}

@media (min-width: 1600px) {
    #logowrp img {
        margin-left: 3rem !important;
    }
}

input.form-control {
    min-height: 3.2em;
}

#rating .container > div.row > div:hover,
#partntrade .container > div.row > div:hover,
#smi .container > div.row > div:hover img {
    cursor: pointer;
}

.resp-roadmap {
    position: relative;
}

@media (max-width: 767px) {
    .resp-roadmap .row {
        background: url("/imgs/line_v.png") repeat-y scroll center center transparent;
    }
}

@media (max-width: 600px) {
    .resp-roadmap .row {
        background: url("/imgs/line_v.png") repeat-y scroll 30% center transparent;
    }
}

@media (min-width: 768px) {
    .resp-roadmap {
        padding-top: 12em;
    }

    .resp-roadmap .row {
        background: url("/imgs/line.png") repeat-x scroll center 1.6em transparent;
    }
}

.minicube {
    position: relative;
    font-size: 1rem;
    color: #864221;
}

@media (min-width: 768px) {
    .minicube:first-child .cimg {
        background: url("/imgs/white.png") repeat-y scroll top left transparent;
        background-size: 40% 100%;
    }
}

.minicube .cimg {
    cursor: pointer;
}

.minicube .cimg img {
    width: 30%;
    transition: all .2s linear;
}

.minicube .cimg:hover img {
    transform: scale(1.6);
}

@media (max-width: 767px) {
    .minicube .cimg img {
        width: 4em;
    }

    .minicube .cimg:hover img {
        transform: scale(1.2);
    }
}

.cdate {
    font-family: 'whitney-black', sanf-serif;
    font-weight: bold;
}

.ctext {
    position: absolute;
    top: -7.2em;
    right: -30%;
    text-align: left !important;
    white-space: nowrap;
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

@media (max-width: 767px) {
    .ctext {
        top: -3.2em;
        right: 2em;
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
    }
}

@media (max-width: 600px) {
    .minicube {
        max-width: 50%;
        float: none;
        margin-left: 0;
        margin-right: 50%;
    }

    .ctext {
        top: 1em;
        left: 90%;
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
    }
}

.minicube .lbreak {
    display: none;
    width: 100%;
    float: none;
    height: 1px;
}

@media (max-width: 500px) {
    .minicube .lbreak {
        display: block;
    }
}

.cdescr {
    display: none;
    padding-top: 1.4em;
    text-align: left;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 10000;
}

@media (max-width: 767px) {
    .minicube .cimg:before {
        content: '(+)';
        padding-right: 1em;
    }

}

@media (max-width: 560px) {
    .popover {
        max-width: 96%;
    }
}

.popover-body .ul {
    -webkit-padding-start: 1em;
}

.popover-body li {
    padding-bottom: 0.3em;
}

.popover-body li:first-child {
    padding-top: 0.3em;
}

.popover-body li:last-child {
    padding-bottom: 0;
}